#root {
  height: auto;
  min-height: 100vh;
  text-align: center;
  color: #363636;
  background-color: #e6f1f1;
}

a {
  text-decoration: none;
  color: #ca354e;
}

a:hover {
  text-decoration: none;
  color: #d16d7e;
}

/* nav settings */
.nav-link {
  font-size: 1.2rem;
  color: #ffffffab;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-active {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover,
.nav-active:hover {
  color: #7ccec6;
  transition: color 0.3s ease;
}

.drawer-link {
  font-size: 1.1rem;
  color: #ca354e;
  text-decoration: none;
  transition: color 0.2s ease;
}

.drawer-active {
  font-size: 1.1rem;
  color: #c23b52;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}


/* display settings */
.center {
  display: flex;
  justify-content: center;
}

/* ag-grid table settings */
.table-container {
  height: 65vh;
  width: 80%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

/* calendar settings */
.calendar {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fc-view-harness {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* calendar text color */
.fc-col-header-cell-cushion, .fc-daygrid-day-number {
  color: #363636 !important;
}

.fc-toolbar .fc-toolbar-title {
  letter-spacing: 1.5px;
  font-weight: 500;
}

.fc .fc-day, .fc-timegrid-slot-label, .fc-scroller-harness {
  background-color: #ffffff;
}

.fc .fc-day.fc-day-today {
  background-color: #e0e0e06e;
}

/* calendar events */
.fc-event:hover {
  background-color: #bd5d6d !important;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.fc-daygrid-event-dot {
  display: none;
}

/* calendar borders */
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard .fc-scrollgrid-section,
.fc-theme-standard .fc-scrollgrid-sync-inner,
.fc-theme-standard .fc-daygrid-day-frame {
  border-color: #d8d8d8 !important;
}

/* calendar buttons */
.fc .fc-button {
  background-color: #a7505e;
  border: 1px solid #803441;
  text-transform: capitalize;
}

.fc .fc-button:hover {
  background-color: #7e333e;
  border: 1px solid #6b2834;
}

.fc .fc-button-active {
  background-color: #7e333e !important;
  border: 1px solid #6b2834 !important;
}

.fc .fc-button:focus {
  background-color: #7e333e !important;
  border: 1px solid #6b2834 !important;
}

/* datetimepicker buttons */
.MuiPickersLayout-actionBar button {
  color: teal;
}

@media (max-width: 700px) {
  .fc-toolbar .fc-today-button {
    display: none !important;
  }

  .fc-toolbar .fc-toolbar-title {
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 900px) {
  .calendar {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .table-container {
    width: 95%;
  }
}

@media (max-width: 1600px) {
  .table-container {
    height: 60vh;
  }
}

@media (min-width: 1600px) {
  .calendar {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}